.actionQuotationForm {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  margin-right: 10px;
  padding-right: 13px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color_white;
  background-color: $color_brown1;
  border: 0.5px solid $color_brown1;

  &--active {
    border-radius: 6px 6px 0 0;
  }

  &__label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    img {
      position: absolute;
      width: 10px;
      transition: 0.1s all ease-in;
      user-select: none;
    }
  }

  &__action {
    font-size: 15px;
    font-weight: 400;
    color: $color_white;
    user-select: none;

    &--selected {
      color: $color_white;
    }
  }

  &__list {
    width: calc(100% + 2px);
    padding-bottom: 5px;
    height: fit-content;
    position: absolute;
    top: 34px;
    left: -1px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
    background-color: $color_white;
    overflow-y: auto;
    border: 0.5px solid #00000033;
    z-index: 2;
  }

  &__option {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 19px;
    color: #000000;
    user-select: none;
    cursor: pointer;

    img {
      width: 15px;
      height: 15px;
      margin-right: 12px;
      margin-bottom: 4px;
    }

    &:first-child {
      border-radius: 0;
      border-top: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $color_brown3;
    }
  }
}
