.addItemWindow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a1a1a1;
  z-index: 13;

  &__slide {
    width: fit-content;
    height: 100vh;
    overflow: hidden;
    display: flex;
    transition: 0.5s;

    &--scrap {
      transform: translateX(-100vw);
    }

    &--addItems {
      transform: translateX(-200vw);
    }
  }

  &__inner {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .createItemForm {
    width: 423px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    background-color: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 24px 26px 32px 26px;

    &--scrap,
    &--addItemForm {
      width: 1122px;
      display: flex;
      flex-direction: column;
    }

    &--addItemForm {
      padding: 24px 10px 32px 26px;

      .createItemForm__inner {
        max-height: 80vh;
        padding-right: 16px;
        overflow: auto;
      }
    }

    &__headerText {
      font-size: 18px;
      color: #101828;
      font-weight: bold;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 19px;
    }

    &__formGroup {
      display: flex;
      flex-direction: column;
      gap: 5px
    }

    &__label {
      color: #343A40;
      font-size: 13px;
    }

    &__optionWrapper {
      border: 0.5px solid #00000080;
      border-radius: 6px;
      display: flex;
      width: fit-content;

    }

    &__option {
      padding: 10px 16px;
      cursor: pointer;

      &:first-child {
        border-right: 0.5px solid #00000080;
      }

      &--active {
        background: #EDE5D8;
      }

      p {
        font-size: 14px;
        color: #343A40;
      }
    }

    &__input {
      height: 40px;
      width: 100%;
      border: 0.5px solid #00000080;
      outline: none;
      border-radius: 6px;
      display: flex;
      overflow: hidden;

      &--inActive {
        background-color: #eaeaea;

        input {
          background-color: #eaeaea;
        }
      }

      input {
        color: #000;
        font-size: 16px;
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
      }
    }


    &__buttonWrapper {
      margin-top: 57px;
      display: flex;
      gap: 13px;

      &--scrap {
        margin-top: 100px;
        width: 480px;
        align-self: flex-end;
      }

      &--addItem {
        margin-top: 48px;
        width: 480px;
        align-self: flex-end;
      }
    }

    &__button {
      outline: none;
      border: 0.5px solid #7F7462;
      border-radius: 6px;
      color: #7F7462;
      flex: 1;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #fff;

      &--brown {
        background-color: #7F7462;
        color: #fff;
      }
    }
  }

  .scrapTable {
    width: 100%;
    border: 1px solid rgba(172, 172, 172, 0.30);
    border-radius: 6px;

    tr th {
      padding: 18px 20px 15px 20px;
      font-weight: normal;
      font-size: 16px;
    }

    thead {
      background: #F9F9F9;
      border-bottom: 1px solid rgba(172, 172, 172, 0.30);

      tr th {
        font-size: 15px;
      }
    }

    tbody {
      tr {
        border-top: 1px solid rgba(172, 172, 172, 0.30);
      }
    }

    &__thAction {
      color: #7F7462;
      text-decoration: underline;
    }
  }

  .addItemForm {
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__block {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    }

    &__blockInner {
      display: flex;
      gap: 20px;
    }

    &__formGroup {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 250px;
    }

    &__label {
      font-size: 13px;
      color: #343A40;
    }

    &__input {
      width: 100%;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.50);
      overflow: hidden;
      display: flex;
      background-color: #fff;

      &--readOnly {
        background-color: #f4f4f4;
      }

      input {
        padding: 10px;
        font-size: 16px;
        width: 100%;
        background-color: transparent;
      }
    }

    &__inputUnit {
      width: 40px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #000;
      border-left: 1px solid rgba(0, 0, 0, 0.50);
    }
  }
}
