.confirmDelete {
  width: 100%;
  height: calc(100vh - 63px);
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: auto;
  background-color: #0000004d;
  transition:
    width 0.4s,
    min-width 0.4s;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  &--detail {
    top: -133px;
  }

  &--topPosition {
    top: -126px;
  }

  &__body {
    width: 400px;
    height: auto;
    padding: 24px;
    border-radius: 10px;
    background-color: $color_white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    box-shadow: 0px 8px 8px -4px #10182808;
    box-shadow: 0px 20px 24px -4px #10182814;

    img {
      margin-bottom: 20px;
      width: 56px;
      height: 55px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__message {
    font-size: 14px;
    font-weight: 400;
    color: $color_black80;
    margin-bottom: 20px;
    text-align: center;
  }

  &___buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    width: 170px;
    padding: 10px 18px;
    color: #453516cc;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #7f7462;
    margin-right: 12px;
    border-radius: 5px;
    outline: none;

    &--delete {
      margin-right: 0px;
      color: $color_white;
      background-color: $color_brown1;
    }
  }
}
