.createInvoice {
  width: 100%;
  height: calc(100vh - 123px);
  display: flex;
  flex-direction: column;

  &--editForm {
    height: calc(100vh - 200px);
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__createForm {
    width: 100%;
    padding-top: 28px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
    padding-bottom: 50px;

    &--edit {
      padding-left: 32px;
    }
  }

  &__col {
    display: flex;
    gap: 74px;

    &--disabled {
      pointer-events: none;
    }
  }

  &__formGroup {
    width: 429px;
    display: flex;
    flex-direction: column;
    gap: 7px;

    &--address {
      gap: 6px;
      display: flex;
      flex-direction: column;
      width: 931px;
    }

    &--calender {
      position: relative;
    }
  }

  &__label {
    font-size: 16px;
    color: #343a40;
  }

  &__input {
    width: 429px;
    height: 40px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    margin-bottom: 6px;
    border: 0.5px solid $color_black2;

    &--fullWidth {
      width: 100%;
    }

    &:disabled {
      background-color: #f4f4f4;
    }

    &--textArea {
      width: 931px;
      height: 155px;
      resize: none;
      padding-top: 13px;
      padding-left: 15px;
      background-color: #f4f4f4;
      stroke-width: 0.5px;
      stroke: #00000080;
    }

    &::placeholder {
      color: #00000040;
    }

    &--error {
      border: 0.5px solid $color_red;
    }

    .input {
      width: 100%;
    }
  }

  &__price {
    width: 429px;
    height: 40px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    margin-bottom: 6px;
    background-color: #f4f4f4;
    border: 0.5px solid $color_black2;
    display: flex;
    align-items: center;

    &--selected {
      color: black;
    }
  }

  &__error {
    color: red;
  }

  &__activity {
    width: 335px;
    height: 100%;
  }

  &__phoneNumberWrapper {
    width: 429px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    border: 0.5px solid $color_black2;
    background-color: #f4f4f4;

    input {
      &:disabled {
        background-color: transparent;
      }
    }
  }

  &__phoneCode {
    height: 100%;
    width: 88px;
    padding-right: 15px;
  }

  &__divider {
    width: 1px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__phoneNumber {
    width: 100%;
    padding: 0 18px;
  }

  &__addressWrapper {
    gap: 6px;
  }

  &__calenderIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 39px;
    right: 18px;
  }
}
