.csQuotation {
  width: 100%;
  height: 100%;
  padding: 23px 32px;
  max-height: calc(100vh - 179px);
  overflow: auto;
  position: relative;

  &__actionBar {
    width: 100%;
    padding-bottom: 19px;
  }

  &__divider {
    width: 100%;
    position: sticky;
    top: 0px;
    border: 0.5px solid white;
    z-index: 2;
  }

  &__table {
    width: 100%;
    position: relative;
    overflow-x: auto;
    border-radius: 6px;
    border: 1px solid $color_black3;

    .csQuotationTable {
      width: 100%;
      border-collapse: collapse;

      thead {
        height: 60px;
        z-index: 1;

        th {
          position: sticky;
          top: 0;
          background-color: $color_white2;
          z-index: 1;
        }
      }

      tbody {
        tr {
          transition: 0.3s all ease-in;
          border-top: 1px solid $color_black3;
        }
      }

      td,
      th {
        position: relative;
        height: 60px;
        padding-left: 16px;
      }

      th {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
      }

      &__selected {
        background-color: $color_milk2;
      }

      &__th {
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;

        &--checkbox {
          width: 4%;
        }

        &--reference {
          width: 25%;
        }

        &--status {
          width: 21%;
        }

        &--create {
          width: 24%;
        }
      }

      &__td {
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;

        &--textBox {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        &--buttons {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          overflow: unset;
          gap: 21px;
        }
      }

      &__status {
        width: max-content;
        padding: 5px 12px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 16px;
        text-transform: capitalize;
        border: none;

        &--pending {
          color: #bf8932;
          background-color: rgba(235, 208, 145, 0.2);
        }

        &--draft {
          color: #1877de;
          background-color: #e7f2fe;
        }

        &--approved {
          color: #027a48;
          background-color: #ecfdf3;
        }

        &--rejected {
          color: #b42318;
          background-color: #fef3f2;
        }

        &--cancelled {
          color: #00000099;
          background-color: rgba(180, 180, 180, 0.3);
        }
      }
    }
  }

  &__paginate {
    position: absolute;
    width: 100%;
    top: 768px;
    left: 0;
  }
}
