body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
a,
button,
fieldset,
form,
input,
label,
select,
textarea,
header,
nav,
article,
section,
aside,
footer,
figure,
figcaption,
main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
}

body {
  background-color: $color_white;
  overflow: auto;
}

div {
  background: unset;
}

.section {
  position: relative;
  min-height: 830px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: $color_white;
  min-height: 98vh;
  font-size: 16px;

  @media screen and (min-height: 850px) {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: unset;
  padding-top: 80px;
  min-height: 830px;
  height: 100%;
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w100 {
  width: 100%;
}

@for $i from 0 through 255 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .gap-#{$i} {
    gap: #{$i}px;
  }

  .h-#{$i} {
    height: #{$i * 2}px;
  }

  .w-#{$i} {
    width: #{$i * 2}px;
  }
}

@for $i from 1 through 7 {
  .fw-#{$i} {
    font-weight: #{$i * 100};
  }
}

.background {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  top: 0;
  right: -132px;
  width: 140%;
  min-height: 830px;

  @media screen and (min-width: 1441px) {
    width: 170%;
    right: -320px;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: rotateY(70deg);
    transform-origin: right;
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: right;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes foundStarredAnimation {
  0% {
    opacity: 1;
    background-color: #dba54db4;
  }

  50% {
    opacity: 0.2;
    background-color: #dba54db4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes swingInTop {
  0% {
    opacity: 0;
    transform: rotateX(70deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

.main {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

input:disabled {
  background-color: #fff;
}

select:disabled {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
