.customerTableAction {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;

  &__actions {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
  }

  &__searchBox {
    width: 210px;
    height: 35px;
    border-radius: 6px;
    background-color: $color_white;
    border: 0.5px solid #acacac;
    display: flex;
    align-items: center;

    img {
      width: 14px;
      height: 13px;
      margin: 0 11px;
      cursor: pointer;
    }
  }

  &__search {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    color: $color_dark;
  }

  &__filter {
    width: 110px;
    height: 35px;
    margin: 0 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_black99;
    border-radius: 6px;
    border: 0.5px solid #acacac;
    background-color: $color_white;
    user-select: none;
    cursor: pointer;

    img {
      margin-right: 10px;
    }

    &--active {
      background-color: $color_orange2;
    }
  }

  &__select {
    width: 128px;
    height: 35px;
    margin-right: 10px;
  }

  &__apply {
    width: 80px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    color: $color_brown1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #acacac;
    background-color: $color_white;
    user-select: none;
    cursor: pointer;
  }

  &__status {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  &__text {
    margin-right: 22px;
  }

  &__button {
    &--new {
      background-color: $color_brown1;
      color: $color_white;
      padding: 8px 19px;
      font-weight: 500;
      border-radius: 6px;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}
