.dashboard {
  padding: 35px 32px;
  padding-bottom: 80px;
  max-width: 100%;
  max-height: calc(100vh - 63px);
  overflow-y: scroll;

  &__body {
    display: flex;
    gap: 24px;
    width: 100%;
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__header {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  &__right {
    width: 300px;
    display: flex;
  }

  &__summary {
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .dashboardBox {
      display: flex;
      flex-direction: column;
      background-color: $color_white;
      border: 1px solid #bdbdbd;
      border-radius: 8px;
      padding: 18px;
      flex: 1;

      &__headerBox {
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
        cursor: pointer;
      }

      &__header {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-right: 10px;
      }

      &__category {
        text-transform: capitalize;
        color: #453516cc;
        font-weight: 700;
        font-size: 18px;
      }

      &__icon {
        img {
          width: 32px;
          height: auto;
        }
      }

      &__value {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      &__unit {
        margin-right: 8px;
      }

      &__title {
        font-size: 14px;
        font-weight: 400;
        color: #343a40;
        text-transform: capitalize;
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
