.dateForm {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
  margin-bottom: 4px;

  &__input {
    height: 100%;
    width: 100%;
    cursor: pointer;

    .react-datepicker__input-container {
      height: 100%;
      width: 100%;
    }

    input {
      height: 100%;
      width: 100%;
      border-radius: 6px;
    }
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 8px;
    pointer-events: none;
    cursor: pointer;
  }
}
