.forgotPassword {
  height: 100vh;
  background-image: $color_gradient;
  display: flex;
  justify-content: center;
  align-items: center;

  &__headline {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__form {
    width: 504px;
    height: max-content;
    min-height: 579px;
    border-radius: 10px;
    padding: 30px 47px;
    border: 1px solid $color_grey1;
    background-color: $color_white;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__loading {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: #ffffff80;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__content {
    position: relative;
    margin-top: -4px;
  }

  &__guide {
    margin-bottom: 28px;
  }

  &__message {
    position: absolute;
    top: 115px;
    font-size: 16px;
    font-weight: 400;
    color: $color_red;
  }
}
