.gallery {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &__count {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: -15px;
    background-color: #EDE5D8;
    z-index: 3;

    p {
      color: $color_brown1;
      font-weight: bold;
    }
  }

  &__thumbnail {
    min-width: 80px;
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px 0;
    z-index: 1;

    &--plus {
      border: 1px solid #EDE5D8;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &--select {
      border: 2px solid #28cb0e;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

    &--plus {
      width: 50px;
      height: 50px;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 2;
  }

  &__selectImage {
    display: none;
  }
}
