.invoiceSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 200px);

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 36px;
    padding-top: 30px;
  }

  &__innerWrapper {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 480px);
    overflow-y: auto;
    padding: 0 0 30px 36px;
  }

  &__divider {
    width: 100%;
    position: sticky;
    top: 0px;
    border: 0.5px solid white;
    z-index: 2;
  }

  &__table {
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    table {
      width: 100%;
      padding-top: 50px;
    }

    thead {
      height: 50px;
      z-index: 1;
      border-bottom: 1px solid #d5d5d5;
      border-top: 1px solid #d5d5d5;

      th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: $color_white2;
        border-bottom: 1px solid #d5d5d5;
        border-top: 1px solid #d5d5d5;
        background-color: #f9f9f9;
      }
    }

    tbody {
      tr {
        height: 60px;
      }
    }

    tr {
      border-bottom: 1px solid #d5d5d5;
    }
  }

  &__lastTr {
    border-top: 2px solid #d5d5d5;
    border-bottom: none !important;
    font-weight: bold;
  }

  &__tableTh {
    padding: 0 17px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;

    &--schedule {
      width: 60%;
    }
  }

  &__amountWrapper {
    display: flex;
    align-items: center;
    gap: 3px;

    p {
      font-size: 16px;
    }
  }

  &__error {
    color: red;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__tableTd {
    padding: 0 20px;
    height: 60px;
    position: relative;

    input {
      width: 100%;
      font-size: 16px;
    }

    textarea {
      width: 100%;
      font-size: 16px;
      height: 50px;
      margin: 5px 0;
      padding: 15px 0;
      resize: none;
    }

    img {
      cursor: pointer;
    }
  }

  &__buttonWrapper {
    border-top: 1px solid #d5d5d5;
    width: calc(100% - 42px);
    padding-top: 30px;
    margin: 0px 36px 30px 36px;
  }

  &__button {
    padding: 8px 15px;
    width: fit-content;
    border-radius: 6px;
    background-color: #7f7462;
    color: #fff;
  }

  &__footer {
    height: 146px;
    width: 100%;
    padding: 17px 42px 26px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #d5d5d5;
  }

  &__footerDetail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__footerTitle {
    font-size: 14px;
    color: #000;

    &--pointer {
      cursor: pointer;
    }
  }

  &__footerPriceGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__footerGroup {
    display: flex;
    gap: 30px;
  }

  &__footerPrice {
    font-size: 18px;
    color: #000;

    &--big {
      font-size: 22px;
    }
  }

  &__footerFinal {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }

  &__move {
    position: absolute;
    left: -32px;
    top: 14px;
    padding: 4px 10px;
    border-radius: 6px;

    &:hover {
      background-color: #d5d5d5a6;
      cursor: grab;
    }
  }
}
