.itemDetailForm {
  width: 100%;
  padding: 0 44px;

  &--squareMetre {
    padding-top: 40px;
  }

  &__section {
    width: 100%;
    padding: 0 27px;
    border-bottom: 0.5px solid #acacac;
    display: flex;
    flex-direction: column;

    &:last-child {
      border-bottom: none;
    }
  }

  &__sectionTitle {
    font-size: 12px;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 10px;
    margin-top: 40px;
  }

  &__group {
    width: 100%;
    display: flex;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 50px;
    }

    .itemDetailBox {
      margin-right: 50px;

      &--squareMetre {
        margin-right: 90px;
      }

      &:last-child {
        margin-right: 0;
      }

      &__label {
        color: #343a40;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 5px;
      }

      &__value {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}
