.messageBox {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 0.5px solid #acacaccc;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 26px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__right {
    img {
      width: 8px;
      height: auto;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px;
    color: #453516cc;
  }

  &__notice {
    font-size: 14px;
    font-weight: 400;
    color: #343a40;
  }

  &__body {
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: auto;

    .chatBox {
      width: 100%;
      padding: 12px 26px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;
      text-decoration: none;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background-color: #fbf6e9;
      }

      &__left {
        display: flex;
        align-items: center;
        gap: 11px;

        img {
          width: 38px;
          height: 38px;
          border-radius: 100%;
          object-fit: cover;
          overflow: hidden;
        }
      }

      &__info {
        max-width: 185px;
        display: flex;
        flex-direction: column;
      }

      &__name {
        font-size: 14px;
        font-weight: 500;
        color: #121415;
      }

      &__message {
        font-size: 13px;
        font-weight: 400;
        color: #00000080;
      }

      &__time {
        font-size: 12px;
        font-weight: 400;
        margin-top: 3px;
        color: #00000080;
      }

      &__right {
        img {
          width: 8px;
        }
      }
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;

    button {
      width: 241px;
      height: 40px;
      border-radius: 5px;
      outline: none;
      font-size: 14px;
      font-weight: 600;
      color: $color_white;
      background-color: #7f7462;
      cursor: pointer;
    }
  }
}
