.orderBottom {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  background: #fff;
  width: 100%;
  height: $bottom-width;
  padding: 17px 48px 23px 56px;
  display: flex;
  flex-direction: column;
  gap: 34px;

  &__content {
    width: 100%;
    display: flex;

    &--bottom {
      gap: 19px;
      font-weight: 500;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__block {
    flex: 1;
    display: flex;
    align-items: center;

    &--left {
      justify-content: flex-end;
      gap: 80px;
    }
  }

  .text {
    font-size: 18px;

    &--small {
      font-size: 14px;
      font-weight: 500;
    }

    &--big {
      font-size: 22px;
    }

    &--input {
      font-weight: bold;

      &:focus {
        background-color: #f9f9f9;
      }
    }

    &--icon {
      margin: 0 40px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 11px;

    img {
      width: 13px;
      height: 13px;
      cursor: pointer;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
