.productContainer {
  width: 100%;
  color: #343a40;
  background-color: #f4f4f4;
  border-radius: 14px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__toggle {
    position: absolute;
    left: 30px;
  }

  &__table {
    width: 100%;
    margin-left: 55px;

    .productContainerTable {
      width: 100%;
      border-collapse: collapse;

      &__progress {
        border-radius: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p {
          height: 11px;
          line-height: 11px;
          text-align: right;
          font-size: 11px;
        }

        &--number {
          height: 11px;
          line-height: 11px;
          font-size: 11px;
          position: absolute;
          top: 5px;
          min-width: 25px;
          text-align: end;
        }
      }

      thead {
        th {
          height: fit-content;
          user-select: none;
          font-size: 12px;
          color: #343a40;
        }
      }

      tbody {
        tr {
          transition: 0.3s all ease-in;
        }
      }

      th {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
      }

      &__th {
        padding-bottom: 4px;

        &--profile {
          width: 7.5%;
        }

        &--code {
          width: 12%;
        }

        &--description {
          width: 35%;
        }

        &--amount {
          width: 11.3%;
        }

        &--glassType {
          width: 18%;
        }

        &--storey {
          width: 10%;
        }

        &--area {
          width: 12%;
        }

        &--size {
          width: 11.5%;
        }

        &--quantity {
          width: 9%;
        }

        &--subTotal {
          width: 10%;
        }

        &--common {
          flex: 1;
          padding-left: 10px;
        }

        &--accumulative {
          width: 100px;
          padding-left: 10px;
        }

        &--progress {
          width: 278px;
          padding-left: 10px;
        }
      }

      &__td {
        font-size: 16px;
        font-weight: 500;

        &--text {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          padding-right: 2px;

          .progress {
            border-radius: 10px;
          }
        }

        &--underlineText {
          text-decoration: underline;
          color: #ab8b6a;
        }

        &--space {
          padding-left: 10px;
          position: relative;
        }
      }
    }
  }

  &__actions {
    display: flex;
    padding-right: 15px;

    &--button {
      margin-right: 10px;
      cursor: pointer;

      img {
        width: 16px;
        height: 16px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &--space {
      margin-left: 30px;
    }

    &--disabled {
      opacity: 0.3;
    }
  }

  &__detailBox {
    width: 100%;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &--material {
      margin: 0 10px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__footer {
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--title {
      color: #7f7462;
      font-size: 15px;
      font-weight: 500;
    }

    &--buttons {
      margin-top: 12px;
      margin-bottom: 50px;
      display: flex;
    }

    &--button {
      width: 130px;
      height: 35px;
      border-radius: 6px;
      border: 0.5px solid #7f7462;
      background: #fff;
      color: #7f7462;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 14px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .productDetail {
    margin-left: 55px;
    margin-top: 40px;

    &__header {
      font-size: 12px;
      color: #000;
      width: 100%;
      margin-bottom: 10px;

      &--bold {
        font-weight: bold;
      }
    }

    &__inner {
      width: 100%;
      display: flex;
      gap: 50px;
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__value {
      font-weight: bold;
      font-size: 15px;
      color: #000;
    }
  }
}
