.quotationDetail {
  width: 100%;
  height: calc(100vh - 63px);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  position: relative;

  &__message {
    width: 100%;
    position: absolute;
    top: 82px;
    z-index: 10;
  }

  &__adminBtn {
    display: flex;
    gap: 15px;
    margin-right: 15px;
  }

  &__btn {
    width: max-content;
    min-width: 142px;
    height: 35px;
    border-radius: 6px;
    padding: 8px 14px;
    font-size: 15px;

    img {
      margin-right: 8px;
    }

    &--approved {
      color: #027a48;
      background-color: #ecfdf3;
      border: 0.5px solid #027a48;
    }

    &--rejected {
      color: #b42318;
      background-color: #fef3f2;
      border: 0.5px solid #b42318;
    }

    &--canceled {
      color: #7f7462;
      background-color: white;
      border: 0.5px solid #7f7462;
    }
  }

  &__header {
    width: 100%;
    padding: 0 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--title {
      width: 50%;
      font-size: 25px;
      font-weight: 600;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--buttons {
      width: max-content;
      display: flex;
      justify-content: flex-end;
      margin-left: 20px;
    }

    &--button {
      width: fit-content;
      height: 35px;
      padding: 8px 15px;
      border-radius: 6px;
      border: 0.5px solid #7f7462;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #7f7462;
      font-size: 15px;
      font-weight: 400;
      margin-right: 15px;
      cursor: pointer;

      img {
        margin-right: 10px;
      }
    }

    &--buttonGray {
      background-color: #7f7462;
      color: #fff;

      span {
        line-height: 14px;
      }

      svg {
        color: #fff;
        width: 14px;
        height: 14px;
        margin-right: 10px;
      }
    }

    &--select {
      width: 175px;
      height: 35px;
    }
  }

  .detailRoute {
    width: 100%;
    height: 38px;
    display: flex;
    border-bottom: 1px solid #acacac80;

    &__url {
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 500;
      margin-right: 39px;
      padding: 0 4px;
      padding-top: 11px;
      padding-bottom: 16px;
      margin-left: 30px;
      transition: 0.3s all ease-in;
      user-select: none;
      line-height: 0;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &--active {
        color: #453516cc;
        border-bottom: 2px solid #453516cc;
      }
    }
  }

  &__body {
    width: 100%;
    height: 100%;
  }
}
