.quotationDetailTab {
  width: 100%;
  height: 100%;
  display: flex;

  &__content {
    width: 100%;
    height: calc(100vh - 188px);
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 100px;
    overflow-y: auto;
  }

  &__section {
    display: flex;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &--textarea {
      max-width: 885px;
    }

    &--disabled {
      pointer-events: none;
    }
  }

  &__customerGroup {
    width: 100%;

    &--disabled {
      pointer-events: none;
    }

    .infoBox {
      width: 100%;
      margin-bottom: 30px;
      display: flex;

      &__left {
        width: 429px;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        &--disabled {
          pointer-events: none;
        }

        &--address {
          width: 85%;
          display: flex;
          flex-direction: column;
        }

        &--fullWidth {
          width: 100%;
        }
      }

      &__title {
        width: fit-content;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
      }

      &__input {
        width: 429px;
        height: 40px;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;
        margin-bottom: 6px;
        border: 0.5px solid $color_black2;

        &::placeholder {
          color: rgba(0, 0, 0, 0.25);
        }

        &--error {
          border: 0.5px solid $color_red;
        }

        &--address {
          width: 888px;
        }

        &:disabled {
          background-color: #f4f4f4;
          color: black;
        }
      }

      &__phoneCode {
        height: 100%;
        width: 88px;
        padding-right: 15px;
      }

      &__phone {
        width: 429px;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;
        position: relative;
        display: flex;
        align-items: center;
        border: 0.5px solid $color_black2;

        input {
          width: 100%;
          height: 100%;
          padding-left: 18px;
          border-radius: 0 6px 6px 0;
          position: relative;
          background-color: $color_white;

          &::placeholder {
            color: rgba(0, 0, 0, 0.25);
          }

          &:disabled {
            color: black;
          }
        }

        &--showList {
          border-radius: 6px 6px 6px 0;
        }

        &--error {
          border: 0.5px solid $color_red;
        }

        &--disabled {
          background-color: #f4f4f4;
          color: black;

          select,
          input {
            background-color: unset;
          }

          .box__phoneNumber {
            background-color: #f4f4f4;
          }
        }
      }

      &__divider {
        width: 1px;
        height: 25px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }

      &__message {
        color: $color_red;
        margin-top: 0px;
        margin-bottom: 10px;

        &--phone {
          margin-top: 5px;
        }
      }
    }
  }

  &__formData {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 7px;
    flex: 1;
    width: 100%;
    max-width: 428px;
    margin-right: 29px;

    &:last-child {
      margin-right: 0;
    }

    &--disabled {
      pointer-events: none;
    }

    &--textArea {
      max-width: unset;
      height: 155px;
      resize: none;
    }

    .selectForm__action {
      color: rgba(0, 0, 0, 0.25);
    }

    .selectForm__action--selected {
      color: #181818;
    }

    label {
      color: #343a40;
      font-size: 16px;
      font-weight: bold;
    }

    img {
      position: absolute;
      right: 12px;
      top: 37px;
      cursor: pointer;
    }
  }

  &__infoBox {
    padding: 6px;
    position: absolute;
    top: -10px;
    right: -23px;
    width: max-content;
    z-index: 1;
  }

  &__innerBox {
    font-size: 12px;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: white;
    border: 0.5px solid #7f7462;
  }

  &__shape {
    width: 12px;
    height: 12px;
    rotate: 45deg;
    position: absolute;
    right: 37px;
    top: 32px;
    background-color: white;
    border: 0.5px solid #7f7462;
    border-left: none;
    border-top: none;
  }

  &__input {
    height: 40px;
    border: 1px solid #00000033;
    width: 100%;
    border-radius: 5px;
    padding: 13px 14px 8px 14px;
    font-size: 16px;
    display: flex;

    &::placeholder {
      color: rgba(0, 0, 0, 0.25);
    }

    img {
      cursor: pointer;
    }

    &--textArea {
      height: 155px;
      resize: none;
    }

    &--disabled {
      background-color: #f4f4f4;
    }

    &--unit {
      width: 55px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #00000033;
    }
  }

  &__inputWithIcon {
    width: 100%;
  }

  &__error {
    color: red;
    font-size: 13px;
  }

  &__activity {
    width: 333px;
    height: 100%;
  }
}
