.role {
  padding: 35px 32px;
  padding-bottom: 50px;
  position: relative;

  &__message {
    position: absolute;
    width: calc(100% - 64px);
    top: 46px;
    left: 33px;
  }

  &__table {
    width: 100%;
    position: relative;
    margin-top: 12px;
    max-height: 672px;
    overflow-x: auto;

    .roleTable {
      width: 100%;
      border-collapse: collapse;

      thead {
        height: 60px;
        z-index: 1;

        tr {
          border: 1px solid $color_black3;
        }

        th {
          position: sticky;
          top: 0;
          background-color: $color_white2;
          border-bottom: 2px solid $color_black3;
          z-index: 1;
          user-select: none;
        }
      }

      tbody {
        tr {
          transition: 0.3s all ease-in;
          border: 1px solid $color_black3;
        }
      }

      &__selected {
        background-color: $color_milk2;
      }

      &__th {
        max-width: 170px;
        width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;

        &--checkBox {
          width: 4%;
        }

        &--role {
          width: 32%;
        }
      }

      &__td {
        max-width: 170px;
        width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;

        &--textBox {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        &--buttons {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      td,
      th {
        position: relative;
        height: 60px;
        padding-left: 16px;
      }

      th {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  }

  &__paginate {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 814px;
    left: 0;
  }

  &__message {
    color: $color_red;
    margin-bottom: 10px;
  }
}
