.layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  height: fit-content;
  color: #000000;

  &__main {
    width: 100%;
    transition: 0.4s;
  }

  .alertBox {
    position: relative;
    z-index: 10;
  }
}
